body {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/64845.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

main {
    margin-top: 40px;
}

.top {
    margin-top: 70px;
}

header {
    background-color: transparent;
    padding: 0.5rem;
    width: 100%;
}


header ul {
    display: flex;
    list-style: none;
    padding: 0px;
}

header ul li {
    width: 20%;
    text-align: center;
}

header ul li a {
    display: block;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

header ul li+li {
    border-left: 2px solid white;
}


.syoukai {
    margin: 0 auto;
    padding: 1rem;
    
}

.syoukai td h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    color: white;
}

.syoukai td{
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 30px;
}

h4{
    margin-top: 1rem;
}
/* 
.SNS {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}


.SNS img {
    height: 70px;
    width: 70px;
}

.SNS h1 {
    font-size: 60px;
} */


.music {
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.363);
    display: block;
    border-radius: 30px;
    padding: 1rem;
    margin-top: 1rem
}

.music_1 a {
    display: block;
    width: 200px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.music_1 {
    display: flex;
    flex-wrap: wrap;
}

.music_1 h3 {
    margin-top: 0.3rem;
}

.music_2 a {
    display: block;
    width: 200px;
    border-radius: 30px;
    background-color: black;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.music_2 {
    display: flex;
    flex-wrap: wrap;
}

.music_2 h3 {
    margin-top: 0.3rem;
}

.music_3 a {
    display: block;
    width: 200px;
    border-radius: 30px;
    background-color: black;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.music_3 {
    display: flex;
    flex-wrap: wrap;
}

.music_3 h3 {
    margin-top: 0.3rem;
}

.music a {
	box-shadow: 0 0 3px 0 rgba(transparent), 0 2px 3px 0 rgba(transparent);
	transition: .3s;
    text-decoration: none;
}

.music a:hover {
	box-shadow: 0 15px 30px -5px rgba(transparent), 0 0 5px rgba(transparent);
	transform: translateY(-7px);
}


.Pick h1{
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
}
.Pick h4{
    text-align: center;
}

.Pick{
    background-color: rgba(0, 0, 0, 0.363);
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;

}

.Pick table{
    margin:0 auto;
}

.Pick iframe{
    width: 450px;
    height: 300px;
}

.Pick td h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    color: white;
}

