
header {
    background-color: transparent ;
    padding: 0.5rem;
    width: 100%;
}


header ul {
    display: flex;
    list-style: none;
    padding: 0px;
}

header ul li {
    width: 20%;
    text-align: center;
}

header ul li a {
    display: block;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

header ul li+li {
    border-left: 2px solid white;
}