@charset "utf-8";

h1, p ,h3{
    color: aliceblue;
}

/* 題名の設定 */
header img {
    margin: 0 auto;
    height:40%;
    width: 40%;
    margin-top: 30px;
}

.toumei{
    height: 3000px;
}

.kuhaku{
    color: transparent;
}
