@charset "utf-8";


table, th, td{
    border : solid 1px black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

.red {
    background-color: red;
    color:aliceblue;
    font-size: 0.5rem;
    background-size: 0.5rem;
    border-radius: 15%;
}

.syou{
    font-size: 0.5rem;
}

table{
    margin-bottom: 20px;
}

input[type]{
    margin-bottom:0.6rem;
}

.kuro{
    background: grey;
}

button {
    width: 10rem;
    height:2rem;
  }

  body{
    background-color: azure;
}

th{
    background-color: grey;
    color: aliceblue;
}

td{
    background-color: ivory;
 }